<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 class="title">Form</h1>

    <div class="form-container">
      <form class="form" method="POST" action="/new">
        <label class="input-group"  for="username">Username</label>
        <input id="username" type="text" name="messageUser" maxlength="20" required />
  
        <label class="input-group" for="message">Message</label>
        <input id="message" type="text" name="messageText" maxlength="150" required />
  
        <button class="angled-gradient-button3" type="submit">Add Message</button>
        <a class="angled-gradient-button2" href="/">View Messages!</a>
      </form>
    </div>

  </body>
</html>




<%/* POST METHOD */%> 

<%/* when you click on the submit button it should send a POST request to the url specified by the action attribute */%> 

<%/* action="/new": This attribute specifies the URL to which the form data will be sent when the user submits the form */%>

<%/* In this case, the data will be sent to the path /new relative to the current domain.  */%>

<%/* The server-side script or application listening at /new will process the submitted form data. */%>




