<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 class="title">Form</h1>

    <div class="form-container">
      <form class="form" method="POST" action="/new">
        <label class="input-group"  for="user">User</label>
        <input id="user" type="text" name="messageUser" required />
  
        <label class="input-group" for="message">Message</label>
        <input id="message" type="text" name="messageText"required />
  
        <button class="angled-gradient-button3" type="submit">Add Message</button>
        <a class="angled-gradient-button2" href="/">View Messages!</a>
      </form>
    </div>

  </body>
</html>
