<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul><% messagesA.forEach(message => { %>                                      <%# /* iterates over each message object in the messagesA. %>

      <li> <%= message.text %>, <%= message.user %>, <%= message.added %> </li>
      
      <% }); %></ul>
      
      <a href="/new">Add New Message!</a>
  </body>
</html>
